.idea
public
security
*.db
app.db
data.db
swap.db
test.db
/files
integration_tests/venv
/integration_tests/venv
integration_tests/src/.idea
integration_tests\venv
\integration_tests\venv
tmp
swap.crt
swap.key
*.crt
*.key
*.json
swap.json
ui/
prod/
build/
releases/