# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
.idea
public
security
app.db
data.db
test.db
integration_tests/venv
/integration_tests/venv
integration_tests/src/.idea
integration_tests\venv
\integration_tests\venv

